@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 700px;
    border-radius: 25px;
    box-shadow: 5px 10px #ddd;
    padding: 2em;
}

header,h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: black;
}
title {
    font-size: 15em;
    color: aqua;
}

.newspaper-container {
    background-color: white;
    box-shadow: #ddd;
    padding: auto;
}

nav {
    color: #777;
    display: inline-block;
    margin: left;
    border-top: solid black;
    border-bottom: solid black;
}

ul {
    padding: 1em;
}

a {
    padding-inline: 2px;
}

main {
    font-family: Comic sans-serif;
    text-align: left;
    margin: 0 85px 0 0;
    color: #dd3232;
        
    }

.more-articles {
    display: inline-flex;
}
